nav {background-color: orange;text-align: center;}
main, img {width:100%}
h1 {text-align: center;}
.title5 {font-size: large;}
.section {font-size: larger;}
hr {
    width: 20vw;
    height: 1px;
    background-color: #098fc4;
    border: none;
 }
 .container{align-items: center; width: 50vw; margin-right: auto; margin-left: auto;}
 header {align-items: center; width:50vw}